<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'exam/style.css' %}">
</head>
<body>
	{% if request.session.logged %}
	<div class="row">
		<div class="col-md-6 col-md-offset-1"></div>
		<div class="col-md-2"><a href="/books" class="top pull-right bold">Home</a></div>
		<div class="col-md-2"><a href="/books/add" class="top pull-left bold">Add Book and Review</a></div>
		<div class="col-md-1"><a href="/logout" class="top pull-left bold">Logout</a></div>
	</div>
	<div class="col-md-7">
		<p>User Alias: {{user.alias}}</p>
		<p>Name: {{user.name}}</p>
		<p>Email: {{user.email}}</p>
		<p>Total Reviews: {{review_cnt}}</p>
		<p>Posted Reviews on the following books</p>
		{% for b in books_reviewed %}
		<p><a href="/books/{{b.book.id}}">{{b.book.title}}</a></p>
		{% endfor %}
	</div>
 {% endif %}
</body>
</html>